#edu-title {
  height: 8vh;
  background-color: #2e2426;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 26px;
  padding: 50px 0;
}

#edu-content {
  color: #2e2426;
  line-height: 1.8;
  margin: 40px 9.375rem;
  display: flex;
  flex-direction: column;
}

#edu_row {
  margin: 22px 0;
}

#attribute {
  font-weight: 700;
  height: auto;
  margin-right: 16px;
}

@media screen and (max-width: 768px) {
  /* 모바일 버전 */
  #edu-content {
    margin: 50px;
    display: flex;
    flex-direction: column;
  }
}
